.note-block {
  width: 235px;
  height: 250px;
  margin-left: calc(10rem + 10px); /* décaler de 10px plus à chaque ajout */
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* bords arrondis */
  margin-bottom: 7rem;
}

.note-block-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.note-block-date {
  color: black;
  font-size: 16px;
  text-align: center;
  align-items: center;
  display: flex;
}

.note-block-edit-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}

p {
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}
.note-block p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 80%;
  margin: 10px;
  overflow: auto;
}

.note-block-delete-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}

.editable {
  border: 1px solid #ccc;
  background-color: #fafafa;
  cursor: text;
}
