@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Gilroy;
  /* box-sizing: border-box;
  border: 1px solid red; */
}

.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header {
  position: fixed;
  top: 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Or any color to match your design */
  padding: 20px 0; /* Adjust as needed */
}
h1 {
  width: 80%;
  margin-top: 20px;
  height: 52.5px;
  align-items: center;
  display: flex;
  padding-top: 92px;
}
.search-bar {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: 0px;
  outline: none;
}

.note-blocks {
  margin-top: 300px; /* Adjust as needed */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
